/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */


$base-font-size:    18px!default;
$base-font-family:  'Open Sans', sans-serif; 



/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       true;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        true;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      true;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       true;
$responsive-extra:  true;


$golden:  1.61803398874989;


/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */

.grid--middle > .grid__item, .grid--middle > .content, .grid--middle > .sub-content, .grid--middle > .footer__item {
  vertical-align: middle;
}

.grid--bottom > .grid__item, .grid--bottom > .content, .grid--bottom > .sub-content, .grid--bottom > .footer__item {
  vertical-align: bottom;
}


h1 { 
	font-weight: 100;
}

.greybox {
	font-family: 'Open Sans', sans-serif !important;
	font-weight: 100;
	font-size: 1em !important;
}



/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

$color-etm: desaturate(/*#86C643*/#A5D330,0%);
$color-cee: desaturate(#FAC830,0%);
$color-lfwp: desaturate(#4A99F2,20%);
$color-jfc: desaturate(#a74bf5,20%);
$color-sql: desaturate(#ff4949,20%);

//lila:a74bf5 orage:fe9b44