	@charset "UTF-8";
/*------------------------------------*\
    YOUR-PROJECT.CSS
\*------------------------------------*/
/**
 *
 * compass watch
 *
 * Here we set up some variables, include the inuit.css framework, then add our
 * project-specific components afterwards.
 */


/**
 * Setup
 */
@import "vars";
@import "compass-inuit/defaults";

// Optionally Import Everything
// @import "compass-inuit";

// Optionally Import Sections
// @import "compass-inuit/generic";
// @import "compass-inuit/base";
// @import "compass-inuit/objects";
// @import "compass-inuit/helpers";

// Generic
@import "compass-inuit/generic/mixins";
@import "compass-inuit/generic/normalize";
@import "compass-inuit/generic/reset";
@import "compass-inuit/generic/clearfix";
@import "compass-inuit/generic/shared";

// Base
@import "compass-inuit/base/main";
@import "compass-inuit/base/headings";
@import "compass-inuit/base/paragraphs";
@import "compass-inuit/base/smallprint";
@import "compass-inuit/base/quotes";
@import "compass-inuit/base/code";
@import "compass-inuit/base/images";
@import "compass-inuit/base/lists";
@import "compass-inuit/base/tables";
@import "compass-inuit/base/forms";

// Objects
@import "compass-inuit/objects/grids";
@import "compass-inuit/objects/flexbox";
@import "compass-inuit/objects/columns";
@import "compass-inuit/objects/nav";
@import "compass-inuit/objects/options";
@import "compass-inuit/objects/pagination";
@import "compass-inuit/objects/breadcrumb";
@import "compass-inuit/objects/media";
@import "compass-inuit/objects/marginalia";
@import "compass-inuit/objects/island";
@import "compass-inuit/objects/block-list";
@import "compass-inuit/objects/matrix";
@import "compass-inuit/objects/split";
@import "compass-inuit/objects/this-or-this";
@import "compass-inuit/objects/link-complex";
@import "compass-inuit/objects/flyout";
@import "compass-inuit/objects/arrows";
@import "compass-inuit/objects/sprite";
@import "compass-inuit/objects/icon-text";
@import "compass-inuit/objects/beautons";
@import "compass-inuit/objects/lozenges";
@import "compass-inuit/objects/rules";
@import "compass-inuit/objects/stats";
@import "compass-inuit/objects/greybox";

// Helpers
@import "compass-inuit/generic/widths";
@import "compass-inuit/generic/push";
@import "compass-inuit/generic/pull";
@import "compass-inuit/generic/brand";
@import "compass-inuit/generic/helper";
@import "compass-inuit/generic/debug";

/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */

 @import "compass/css3/transition";
 @import "compass/css3/border-radius";

 /*@import "compass/utilities/sprites";
 @import "customers/*.png";
 @include all-customers-sprites;*/


.customers-sprite, .customers-Agnico_Eagle, .customers-Aircom, .customers-Australia_Post, .customers-BMELV, .customers-Columbia_College, .customers-Discovery_Communications, .customers-Florida_University, .customers-Fresenius, .customers-ING, .customers-JHU_APL, .customers-L3_Communications, .customers-LandisGyr, .customers-Lenze, .customers-Lufthansa, .customers-MetLife, .customers-Michigan_State_University, .customers-Microsoft, .customers-Moss-Adams, .customers-NorthShore, .customers-Robert_Stern_Architects, .customers-Roland_Berger, .customers-Styria, .customers-TDS_Fujitsu, .customers-pwc {
  background: url('../img/customers-s0f014b051e.png') no-repeat !important;
}


html{
    background-color: #FFF;
    color: #333;
}

.header {
	//box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);	z-index: 9;
	position: relative;
}
.wrapper{
    max-width: 1200px;
    padding: 0 24px;
    margin: 0 auto;
}
.footer{
    margin-bottom: 0;
}

.centered{
	text-align: center;
}


/**
	NAV
**/

.logo {
	margin: 8px 24px 0px;
}

.nav--main {
	font-size: 0.824em;
	font-weight: 400;
	margin-top: 10px;
	text-transform: uppercase;
	float:right;
	margin-bottom:0;
}

.nav--main > li > a {
	color: #888888;
	text-decoration: none;
	font-family: "Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	letter-spacing: 2px;



}

.nav--main > li > a:hover {
	background: #f2f2f2;
	@include transition(all .3s ease-out); 
	@include border-radius(5px);
}
.nav--main > li.current_page_item > a{
	@include transition(all .3s ease-out); 
	@include border-radius(5px);
	border: 1px solid #e6e9ed;
}


.sect-second-etm {
	background-color: desaturate(darken($color-etm,5%),10%);
}

.sect-second-cee {
	background-color: desaturate(darken($color-cee,5%),10%);
}


.sect-second-lfwp {
	background-color: desaturate(darken($color-lfwp,5%),10%);
}

.sect_island {
	padding:12px 0;
}


.nav--second {
	color: #f00;
	text-decoration: none;
	font-size: 1em;
	font-weight: 400;
	margin-top: 1em;
	float:right;
	margin:0;

}

.nav--main > li {
	padding-right: 48px;
}

.nav--main > li:last-child {
	padding-right:0;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 7px;
	vertical-align: middle;
	border-top: 8px solid #888888;
	border-right: 5px solid transparent;
	border-bottom: 0 dotted;
	border-left: 5px solid transparent;
	content: "";
	margin-top: -3px;
}

.nav--second > li {
	padding-right: 48px;
}

.nav--second > li:last-child {
	padding-right:0;
}

.nav--second > li > a {
	color: #FFF;
	font-size: 12px;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.nav--second > li > a:hover {
	background: rgba(0,0,0,0.1);//darken(desaturate(darken($color-etm,5%),10%),5%);
	 @include transition(all .3s ease-out); 

}
.nav--second > li.current_page_item > a{
	background: rgba(0,0,0,0.2);
}

.nav--fit > li > a {
	display: block;
}

.flyout { overflow: inherit;}

.flyout__content {
	background: #fff;
	box-shadow: 0 1px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
}

.flyout__content > ul {
	margin: 0;
	list-style-type: none;
	text-transform: none;
	font-size: 14.833px;
	padding: 6px 12px;
}

.flyout__content > ul > li {
	padding: 12px;
	@include transition(background .3s ease-out); 
	//margin: 12px;
}

.flyout__content > ul > li > a {
	text-decoration: none;
	color: #666;
}

.flyout__content > ul > li > a:active {
	color: black;
}


.flyout__content > ul > li:last-child {
	margin-bottom:6px;
}

.flyout__content > ul > li:first-child {
	margin-top:6px;
}

.flyout__content > ul > li:hover {
	//padding: 9px 18px;
	background: #f2f2f2;
	@include border-radius(5px);
}

.flyout__content > ul > li:active {
	background: #EEEEEE;
}

/*

li.li-etm:before {
	@include border-radius(5px);
	content: "";
	background: $color-etm;
	padding: 0 10px;
	margin-right: 9px;
}

li.li-cee:before {
	@include border-radius(5px);
	content: "";
	background: $color-cee;
	padding: 0 10px;
	margin-right: 9px;
}

li.li-lfwp:before {
	@include border-radius(5px);
	content: "";
	background: $color-lfwp;
	padding: 0 10px;
	margin-right: 9px;
}


li.li-jfc:before {
	@include border-radius(5px);
	content: "";
	background: $color-jfc;
	padding: 0 10px;
	margin-right: 9px;
}

li.li-sql:before {
	@include border-radius(5px);
	content: "";
	background: $color-sql;
	padding: 0 10px;
	margin-right: 9px;
}
*/


.a-etm:before {
	@include border-radius(5px);
	content: "";
	background: $color-etm;
	padding: 0 10px;
	margin-right: 9px;
}

.a-cee:before {
	@include border-radius(5px);
	content: "";
	background: $color-cee;
	padding: 0 10px;
	margin-right: 9px;
}

.a-lfwp:before {
	@include border-radius(5px);
	content: "";
	background: $color-lfwp;
	padding: 0 10px;
	margin-right: 9px;
}

/*
.a-jfc:before {
	@include border-radius(5px);
	content: "";
	background: $color-jfc;
	padding: 0 10px;
	margin-right: 9px;
}

.a-sql:before {
	@include border-radius(5px);
	content: "";
	background: $color-sql;
	padding: 0 10px;
	margin-right: 9px;
}

*/

.a-evm:before {
	@include border-radius(5px);
	content: "";
	background: $color-evm;
	padding: 0 10px;
	margin-right: 9px;
}


.a-ett:before {
	@include border-radius(5px);
	content: "";
	background: $color-ett;
	padding: 0 10px;
	margin-right: 9px;
}

.a-lp:before {
	@include border-radius(5px);
	content: "";
	background: $color-lp;
	padding: 0 10px;
	margin-right: 9px;
}

.a-bdc:before {
	@include border-radius(5px);
	content: "";
	background: $color-bdc;
	padding: 0 10px;
	margin-right: 9px;
}

/**

	INDEX/HOME

**/


.index__banner {
	background: url(../img/index_bg.png) no-repeat center center fixed;
	background-size:cover;
	margin-top: 24px;
}


.index_product_grid {
	margin-top: 24px;
}

.index__products {
	margin-top: 48px;
	font-size:32px;
	font-weight: 100;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";

}

.index__box {
	text-align:left;
	//padding: 12px 24px;
}

.index__box__desc {
    background: rgba(0,0,0,0.1);
	padding:24px 24px 6px 24px;
}

.index__box h4 {
	color: white;
	text-align: left;
	margin-bottom: 12px;
}

.index__box p {
	color: white;
	text-align: left;
}

.index__box__cee {
	background-color: $color-cee;
	text-align: center;
}

.index__box__lfwp {
	background-color: $color-lfwp;
	text-align: center;

}

.index__box__etm {
	background-color: $color-etm;
	text-align: center;
}



/** WHO WE ARE **/


.wwa__banner {
	background: url(../img/vienna.jpg) no-repeat center center;
	background-size:cover;
	margin-top: 24px;

}

.wwa {
	font-size: 20px;
}

.wwa__header, .wwa__header_cust {
	color: #656d78;
	font-weight: 100;
	line-height: 1.1;
	font-size: 49px;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	text-rendering: optimizeLegibility;
	margin-bottom: 18px;
	letter-spacing: -2px;
}



.logo__box {
	text-align:center;
	padding: 36px;
}

.logo_img {
		max-height: 50px;
}

.wwa__contact {
	background: #aab2bd;
}

.wwa__contact h2 {
	color: #FFF;
	font-weight: 100;
	line-height: 1.1;
	font-size: 49px;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	text-rendering: optimizeLegibility;
	margin: 36px 0px;
	letter-spacing: -2px;

}


.fscf-div-field input, .fscf-input-textarea {
	width: 100%;
	max-width: 800px;
	color: #688914;
	font-size: 18px;
	font-weight: 100;
	float: none;
	padding: 6px 12px;
	height: 48px;
	-webkit-appearance: none;
	border-radius: 5px;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	cursor: text;
	margin: 12px 0;
	border: none;
}

.fscf-input-textarea {
	height: 240px;
}

.wwa__form {
	margin: auto !important;
	max-width: 800px;
}

.fscf-div-submit input {
	margin-top: 12px;
	background-color: #5D9CEC;
	color: #FFF;
	padding: 18px 48px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Segoe UI Bold","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
    -webkit-appearance: none;
    margin-bottom: 48px;
    border: none;
}

.fscf-div-error {
	color: #4a89dc;
}


.btn--contactform:hover {
	background-color: #5d9cec;
}



/**
	PRODUCT SITES

**/

.sect-product-etm {
	background-color: $color-etm;
	//text-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
}

.sect-product-cee {
	background-color: $color-cee;
	//text-shadow: 0 0px 20px rgba(0, 0, 0, 0.15);
}

.sect-product-lfwp {
		background-color: $color-lfwp;
}



h1.product {
	color:#FFF;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom:14.833px;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	text-transform: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 12px;
	letter-spacing: 1px;
}


ul.product {
	color:#FFF;
	font-size: $base-font-size;
	line-height: 1.5;
	font-weight:400;
}

.kilo {
	color:#FFF;
	line-height:1.1;
	font-size: 49px;
	//letter-spacing: -2px;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	//text-transform: uppercase;
	font-weight: 100;	
	text-rendering: optimizeLegibility;
	margin-bottom: 18px;
}


.mega {
	color:#FFF;
	font-weight: 100;
	line-height:1.1;
	font-size: 60px;
	//letter-spacing: -2px;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	//text-transform: uppercase;
	text-rendering: optimizeLegibility;
	margin-bottom: 18px;
}

h3.description-etm {
	color: darken($color-etm,5%);
	font-size: 29.124px;
	font-weight: 500;
	line-height: 1.2;
	font-family: "Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	margin-bottom:18px;


}

h3.description-cee {
	color: darken($color-cee,5%);
	font-size: 29.124px;
	font-weight: 500;
	line-height: 1.2;
	font-family: "Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	margin-bottom:18px;
}

h3.description-lfwp{
	color: darken($color-lfwp,5%);
	font-size: 29.124px;
	font-weight: 500;
	line-height: 1.2;
	font-family: "Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	margin-bottom:18px;
}

p.description {
	color: #656d78;
	font-family: "Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
}


.form-control {
	border: 1px solid #aaa;
	color: #34495e;
	font-size: 12px;
	margin-top: 12px;
	font-weight: 100;
	width: 75%;
	float: none;
	padding: 6px 12px;
	margin-right: 48px;
	height: 36px;
	-webkit-appearance: none;
	border-radius: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
	transition: border .25s linear, color .25s linear, background-color .25s linear;
	cursor:text;}


.btn--product-etm, .btn--product-cee, .btn--product-lfwp {
	background-color: #688914;
	border: rgba(128,128,128,0.2);
	color: #FFF;
	padding: 24px 36px;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	text-align: center;
	font-size: 24px;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius:10px	!important;
	//box-shadow: 0px 4px 9px -1px rgba(0,0,0,0.3);
}

.btn--product-etm {
	background-color: darken(saturate($color-etm,20%),20%);
	//border-bottom: 3px solid darken(saturate($color-etm,70%),30%);
}

.btn--product-cee {
	background-color: darken(saturate($color-cee,40%),10%);
	//border-bottom: 3px solid darken(saturate($color-cee,70%),30%);

}

.btn--product-lfwp {
	background-color: darken(saturate($color-lfwp,10%),20%);
	//border-bottom: 3px solid darken(saturate($color-lfwp,70%),30%);

}





.btn--newsletter {
	margin-top: 12px;
	background-color: #4a89dc;
	color: #FFF;
	padding: 12px 24px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Segoe UI Bold","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";

	//font-weight: 700;
	//border-bottom: 2px solid #B96F13;
}

.btn--product-etm:hover, .btn_pricing_etm:hover{
		background-color: darken(saturate($color-etm,100%),25%);
}


.btn--product-cee:hover, .btn_pricing_cee:hover{
	background-color: darken(saturate($color-cee,20%),18%);
}

.btn--product-lfwp:hover, .btn_pricing_lfwp:hover{
	background-color: darken(desaturate($color-lfwp,5%),15%);
}





.btn--product-etm:active {
	//border: 2px solid white;
	background-color: darken(saturate($color-etm,10%),35%);
}

.btn--product-cee:active {
	//border: 2px solid white;
	background-color: darken(saturate($color-cee,10%),35%);
}

.btn--subtext {
	font-size:11.125px;
	margin-top: -1em;
	text-transform: none;
	letter-spacing: normal;
}


.bg-lg {
	background: #f5f7fa;
}


//* FOOTER *//

.sect_foot {
	background-color: #656d78;
	color: #ccd1d9;
}

.sect_foot a {
	color: #5D9CEC; 
	text-decoration: none; 
	font-weight: bold;
}

.sect_foot a:hover {
	text-decoration: underline;
}


//** PRICING **//



.pricing {
	color: #666;
}

.pricing_h1-etm, .pricing_h1-lfwp, .pricing_h1-cee {
	font-size: 49px;
	font-weight: 100;
	margin: 12px 0 24px;
	//background: white;
}

.pricing_h1-etm, .pricing_h2-etm {
	color: darken($color-etm,5%);
}

.pricing_h1-lfwp, .pricing_h2-lfwp {
	color: darken($color-lfwp,5%);

}.pricing_h1-cee, .pricing_h2-cee {
	color: darken($color-cee,5%);
}


.pricing_cell-etm, .pricing_cell-lfwp, .pricing_cell-cee {
	background-color: white;
	font-weight: 100;
	margin-bottom: 48px;
}

.pricing_cell-etm h2, .pricing_cell-lfwp h2, .pricing_cell-cee h2{
	background-color: $color-etm;
	color: white;
	text-align: center;
	margin-bottom:0;
	line-height: 160%;
	font-weight: 100;
}

.pricing_cell-etm h2{
		background-color: $color-etm;
}

.pricing_cell-lfwp h2{
	background-color: $color-lfwp;
}

.pricing_cell-cee h2{
	background-color: $color-cee;
}


.pricing_cell-etm h3, .pricing_cell-lfwp h3, .pricing_cell-cee h3 {
    background-color: desaturate(darken($color-etm,5%),10%);
	color: white;
	text-align: center;
	margin-bottom:0;
	font-weight: 100;
	line-height: 160%;
	font-size: 49px;
	letter-spacing: -3px;
}

.pricing_cell-etm h3 {
	    background-color: desaturate(darken($color-etm,5%),10%);
}

.pricing_cell-cee h3 {
	    background-color: desaturate(darken($color-cee,5%),10%);
}

.pricing_cell-lfwp h3 {
	    background-color: desaturate(darken($color-lfwp,5%),10%);
}


.pricing_cell-etm ul, .pricing_cell-cee ul, .pricing_cell-lfwp ul {
	margin: 0;
	font-weight: 400;
}

.pricing_cell-etm li, .pricing_cell-cee li, .pricing_cell-lfwp li{
	text-align: center;
	list-style-type: none;
	padding: 24px 0;
	color: #656d78;
}

.pricing_cell-etm li{
	background-color: desaturate(lighten($color-etm,30%),20%);
}

.pricing_cell-cee li{
	background-color: desaturate(lighten($color-cee,28%),20%);
}
.pricing_cell-lfwp li{
	background-color: desaturate(lighten($color-lfwp,29%),20%);
}


.pricing_cell-etm li:nth-child(odd), .pricing_cell-cee li:nth-child(odd), .pricing_cell-lfwp li:nth-child(odd){
	text-align: center;
	list-style-type: none;
	padding: 24px 0;
	background: white;
}



.btn_container {
	background: #CFCFCF;
	text-align: center;
	padding: 12px;
}

.btn_pricing_etm, .btn_pricing_cee, .btn_pricing_lfwp {
	font-weight: 100;
	border: rgba(128,128,128,0.2);
	color: #FFF;
	padding: 12px 24px;
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;*/
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius:5px	!important;
	text-transform: uppercase;
}

.btn_pricing_etm{
	background-color: darken($color-etm,15%);
	//border-bottom: 3px solid #4c6a00;

}

.btn_pricing_cee{
	background-color: darken($color-cee,15%);
	//border-bottom: 3px solid darken($color-cee,25%);

}

.btn_pricing_lfwp{
	background-color: darken($color-lfwp,15%);
	//border-bottom: 3px solid darken($color-lfwp,25%);
}



//** PAGE INDEX **//

.page-index {
	color: #888;
}
.page-index h3 a
{
	text-decoration: none;
	line-height: 1.25;
	//font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
.page-index h3.description-cee a {
	color: darken($color-cee,5%);
}
.page-index h3.description-etm a {
	color: darken($color-etm,5%);
}
.page-index h3.description-lfwp a {
	color: darken($color-lfwp,5%);
}
.page-index h3 a:hover {
	text-decoration: underline;
}
.page-index a {
	color: rgb(0,122,255);
	text-decoration: none;
}

.page-index a:hover {
	color: rgb(0,122,255);
	text-decoration: underline;
}
.wrapper.page-index{
    max-width: 800px;
}



//** SINGLE PAGE **//

.wrapper.single-page{
    max-width: 800px;
}
.single-page {
	color: #666;
}
.single-page h1{
	font-size: 49px;
	font-weight: 100;
	margin: 12px 0 24px;
}

.single-page-etm h1 {
	color: darken($color-etm,5%);
}

.single-page-lfwp h1 {
	color: darken($color-lfwp,5%);

}
.single-page-cee h1 {
	color: darken($color-cee,5%);
}
.single-page h2{
	color: #999;
	font-size:38.382px;
	font-weight: 100;
	line-height: 123%;
	letter-spacing: -1px;
}
.single-page h3{
	color: #999;
	font-size:29.124px;
	font-weight: 100;
	line-height: 123%;
	letter-spacing: -1px;
}
.single-page a {
	color: rgb(0,122,255);
	text-decoration: none;
}

.single-page a:hover {
	color: rgb(0,122,255);
	text-decoration: underline;
}

//** BLOG **//

.blog-bar {
	background: #4a89dc;
	padding: 0;
}

.blog-search-bar {
	text-align: right;
	margin-bottom: 12px;
}

.rss{
	float: right;
	margin-left: 12px;
	color: white;
	font-size: 11px;
}

.blog-header {
	background: #5d9cec;
}

.blog-header-container{
	padding: 0 24px;
}

.blog-header-container h2 {
	margin-bottom: 0;
}

.blog-header-container h2 {
	color: white;
	margin: 0;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	font-weight: lighter;
	margin-bottom:12px;
}

.blog-index {
	color: #656D78;
}

.blog-index h1 {
	color: white;
	font-size:76.245px;
	font-weight: 100;
	line-height: 123%;
	letter-spacing: -1px;
	font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	margin-bottom: 6px;
}

.blog-index h3 {
	margin-bottom: 12px;
}

.blog-index h3 a {
	color: #5d9cec;
	text-decoration: none;
	font-size: 29.24px;	//font-weight: 100;
	line-height: 120%;
	letter-spacing: -1px;
	transition: .2s linear;
	font-family: /*"wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light",*/"Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	font-weight: bold;
}

.blog-index h3 a:hover {
	color: #4a89dc;
	//text-decoration: underline;
}


.blog-index a {
	color: #5d9cec;
	text-decoration: none;	
	//font-weight: bold;
}

.blog-index a:hover {
	color: #4a89dc;
	text-decoration: none;	
}



.blog-index ul, .single-post ul {
	margin-left: 0;
	list-style-type: none;
	display: table;
	font-size: 14.833px;
	color: #aab2bd;
	font-style: italic;
	margin-bottom: 12px;
}


.blog-index li, .single-post li {
	display: inline;
	//margin-right: 0px;
}

.description {
	font-size: 18px;
	color: #656d78;
	line-height: 140%;
}




.categories-links a[href$='/category/sharepoint/'], .categories-links a[href$='/category/list-filter-web-part/'], .categories-links a[href$='/category/calendar-email-extension/'], .categories-links a[href$='/category/employee-training-management/']  {
	color: #656d78;
	padding: 5px 12px 6px;
	font-size: 11px;
	//border: 1px solid #e6e9ed;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-right: 12px;
	font-style: normal;
	margin-left: -12px;
}

.categories-links a[href$='/category/list-filter-web-part/']:before {
	@include border-radius(2px);
	content: "";
	background: $color-lfwp;
	padding: 0 5px;
	margin-right: 4px;
	font-size: 7px;
	vertical-align: 10%;

}

.categories-links a[href$='/category/calendar-email-extension/']:before {
	@include border-radius(2px);
	content: "";
	background: $color-cee;
	padding: 0 5px;
	margin-right: 4px;
	font-size: 7px;
	vertical-align: 10%;
}

.categories-links a[href$='/category/employee-training-management/']:before {
	@include border-radius(2px);
	content: "";
	background: $color-etm;
	padding: 0 5px;
	margin-right: 4px;
	font-size: 7px;
	vertical-align: 10%;
}

.categories-links .post-categories li {
	display: inline;
}

.categories-links a[href$='/category/sharepoint/']:before {
	@include border-radius(2px);
	content: "";
	background: $color-neutral;
	padding: 0 5px;
	margin-right: 4px;
	font-size: 7px;
	vertical-align: 10%;
}


.continue-reading, .btn--search  {
	color: white !important;
	background: #4a89dc;
	padding: 5px 15px;
	border-radius: 5px;
	float:right;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: "Segoe UI Bold","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	padding: 12px 24px;
}

.btn--search {
	float: none;
	background-color: #ccd1d9;
	color: #656d78 !important;
	transition: .2s linear;
}

.btn--search:hover {
	background-color: #e6e9ed;
}


.continue-reading:hover {
	color: white !important;
	background: #5D9CEC;
	text-decoration: none !important;
}
.continue-reading-cee{
	background: darken(saturate($color-cee,20%),20%);
	//border-bottom: 3px solid darken(saturate($color-cee,70%),30%);
}
.continue-reading-etm{
	background: darken(saturate($color-etm,20%),20%);
	//border-bottom: 3px solid darken(saturate($color-etm,70%),30%);
}
.continue-reading-lfwp{
	background: darken(saturate($color-lfwp,10%),20%);
	//border-bottom: 3px solid darken(saturate($color-lfwp,70%),30%);
}

.continue-reading-cee:hover{
	background: darken(saturate($color-cee,100%),25%);
}
.continue-reading-etm:hover{
	background: darken(saturate($color-etm,20%),15%);
}
.continue-reading-lfwp:hover{
	background: darken(saturate($color-lfwp,5%),15%);
}




.wrapper.blog-index{
    max-width: 800px;
}



//** BLOG SINGLE POST **//

.single-post {
	color: #666;
}

.single-post img {
	border: 1px solid #e6e9ed;
	padding: 24px;
	background: white;
}


.single-post h1 {
	color: white;
	font-size: 49px;
	line-height: 110%;
	letter-spacing: -2px;
	font-family: "Segoe UI","Segoe","Segoe WP","Calibri", "Tahoma","Verdana","Arial","sans-serif";
	margin-bottom: 18px;
}

.single-post h2{
	color: #5d9cec;
	font-size: 29px;
	line-height: 123%;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 48px;
}

.single-post h3{
	color: #aab2bd;
	font-size: 24px;
	line-height: 123%;
	letter-spacing: -1px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 48px;
}


.single-post a {
	color: rgb(0,122,255);
	text-decoration: none;
}

.single-post a:hover {
	color: rgb(0,122,255);
	text-decoration: underline;
}

.article-paragraph {
	font-size: 18px;
	color: #656D78;
	line-height: 150%;
	margin-top: -12px;
}


#article-product {
	margin-bottom: 6px;
}


#article-product .post-categories a {
	color: white;
}

#article-product ul, #article-product li {
	color: white;
	font-style: normal;
}

#article-product a {
	font-weight: bold;
	color: white;
}


.wrapper.single-post{
    max-width: 800px;
}
.single-post .date, .categories-links { 
	margin-bottom:0px;
}

/** BLOG NAVIGATION **/
.nav-previous, .nav-next
{
	display:inline-block;
}
.nav-previous{
	float:left;
}
.nav-next{
	float:right;
}

/** BREADCRUMB **/
.breadcrumbs{
	font-size:14px;
}
.breadcrumbs a{
	color: rgb(0,122,255);
	text-decoration: none;
}
.breadcrumbs a:hover {
	color: rgb(0,122,255);
	text-decoration: underline;
}


/** TRIAL FORM **/
.header-basic{
	margin:50px 0 0 0;
}

.wrapper.trial-form{
    max-width: 600px;
}
.trial-form {
	color: #666;
	font-size:14px;
}
.trial-form h1 {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 100;
	margin-bottom:14.833px;
	//font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 12px;
	letter-spacing: 1px;
}
.trial-form h1.product-cee 
{
	color: darken($color-cee,5%);
}
.trial-form h1.product-etm
{
	color: darken($color-etm,5%);
}
.trial-form h1.product-lfwp 
{
	color: darken($color-lfwp,5%);
}
.trial-form h3{
	color: #999;
	text-decoration: none;
	font-size:38.382px;
	font-weight: 100;
	line-height: 123%;
	letter-spacing: -1px;
}
.trial-form a {
	color: rgb(0,122,255);
	text-decoration: none;
}

.trial-form a:hover {
	color: rgb(0,122,255);
	text-decoration: underline;
}

.btn--get-trial-etm, .btn--get-trial-cee, .btn--get-trial-lfwp {
	background-color: #688914;
	border: rgba(128,128,128,0.2);
	color: #FFF !important;
	padding: 12px 18px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
	border-radius:5px	!important;
	margin:15px 0px ;
	text-decoration: none !important;
}

.btn--get-trial-etm {
	background-color: darken(saturate($color-etm,20%),20%);
	//border-bottom: 3px solid darken(saturate($color-etm,70%),30%);
}

.btn--get-trial-cee {
	background-color: darken(saturate($color-cee,20%),20%);
	//border-bottom: 3px solid darken(saturate($color-cee,70%),30%);

}

.btn--get-trial-lfwp {
	background-color: darken(saturate($color-lfwp,10%),20%);
	//border-bottom: 3px solid darken(saturate($color-lfwp,70%),30%);

}

.trial-form .trial-key {
    font-size: 24px;
    font-weight: 600;
}

/** CUSTOM 404 **/
.wrapper.custom-404{
    max-width: 700px;
}
.custom-404
{
	color: #666;
}
.custom-404 h1 
{
	font-size: 44px;
	font-weight: 100;
	margin-bottom:14.833px;
	//font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 12px;
	letter-spacing: 1px;
}
.custom-404 a {
	color: rgb(0,122,255);
	text-decoration: none;
}

.custom-404 a:hover {
	color: rgb(0,122,255);
	text-decoration: underline;
}

/** SEARCH FORM **/
#searchform .form-control
{
	width:auto;
	max-width:300px;
	margin-right:0px;
}

/*
.btn--search {
	background-color: #4a89dc;
	color: #FFF;
	padding: 18px 24px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 5px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	line-height: 1;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	//border-bottom: 2px solid #B96F13;
}


*/
/** FONT ICONS CSS **/



@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}


.icon-etm_main_2{
	font-size: 12.5em;;
	color:white;
}

.icon-cee_main {
	font-size: 7.5em;
	color:white;
}


.icon-lfwp_main {
	font-size: 14.5em;
	color:white;
}


//Changes for Index-Site
.icon_index {
	font-size: 5em;
	color:white;
	padding-top: 48px;
}






.icon-etm_catalogue, .icon-etm_cal_sync, .icon-etm_question, .icon-etm_certificate, .icon-etm_satellite, .icon-cee_send_invite, .icon-cee_join_meetings, .icon-cee_status_reply, .icon-lfwp_excel, .icon-lwfp_multi_filter, .icon-lfwp_magic-filter, .icon-lfwp_tacho, .icon-lfwp_datepicker {
	font-size: 13em;
	line-height:125%;
	color: #CCD1D9;
}



.icon-lfwp_tacho:before {
	content: "\e600";
}
.icon-cee_send_invite:before {
	content: "\e601";
}
.icon-cee_main:before {
	content: "\e603";
}
.icon-lwfp_multi_filter:before {
	content: "\e605";
}
.icon-lfwp_excel:before {
	content: "\e606";
}
.icon-cee_join_meetings:before {
	content: "\e607";
}
.icon-cee_status_reply:before {
	content: "\e608";
}
.icon-lfwp_magic-filter:before {
	content: "\e609";
}
.icon-etm_certificate:before {
	content: "\e60a";
}
.icon-etm_catalogue:before {
	content: "\e60b";
}
.icon-etm_cal_sync:before {
	content: "\e60c";
}
.icon-etm_question:before {
	content: "\e60d";
}
.icon-etm_satellite:before {
	content: "\e60e";
}
.icon-etm_main_2:before {
	content: "\e60f";
}
.icon-lfwp_datepicker:before {
	content: "\e602";
}
.icon-lfwp_main:before {
	content: "\e604";
}


